.works_content {
    font-family: Baskerville,Georgia,"Liberation Serif",Kaiti SC,STKaiti,AR PL UKai CN,AR PL UKai HK,AR PL UKai TW,AR PL UKai TW MBE,AR PL KaitiM GB,KaiTi,KaiTi_GB2312,DFKai-SB,TW-Kai,serif;
    font-weight: lighter;
    padding: 50px 50px 70px;
    position: relative;
    width: 80vw;
    max-width: 940px;
    margin: 40px auto 0px;
    background: #fff;
    box-shadow: 0 10px 20px 0 hsla(0, 0%, 92.5%, .86);
    display: block;
}

/* 设置字体 */
.works_content h1 {
    text-align: center;
    font-size: 1.6em;
    margin-top: 0.8em;
    margin-bottom: 0.6em;
    font-weight: bold
}

.works_content h3 {
    text-align: center;
    font-size: 1.4em;
    margin-top: 0.5em;
    margin-bottom: 0.6em
}

.works_content p {
    text-indent: 2em;
}

.work1_links,
.work2_links,
.work3_links,
.work4_links {
    text-align: center;
    margin: 1em 0 2em 0;
}

.works_content a {
    color: black;
    text-decoration: none!important;
    margin: 0 1.5em 0 1.5em;
}

.works_content a:hover {
    color: black;
    border-bottom: 1px solid #000;
}

.works_content h5 {
    margin-bottom: 1.2em;
}

/* 轮播图部分 */
.works_content .ant-carousel .slick-slide{
    text-align: center;
    height: 400px;
    line-height: 400px;
    background: #364d79;
    overflow: hidden;
}

.works_content .slick-slide h3 {
    color: #fff!important;
}